.*
!.gitignore
*~
*.py[co]
.*.sw[po]
*.egg-info
*.sqlite
build
dist
!media/admin/dist
!media/api/dist
!media/web/dist
env
logs
data/export
data/uploads
docs/.build
docs/_build
tests/__pycache__
node_modules
bower_components