body {
    background: #fff;
    padding: 0;
}

.table > thead > tr > th, 
.table > tbody > tr > th, 
.table > tfoot > tr > th, 
.table > thead > tr > td, 
.table > tbody > tr > td, 
.table > tfoot > tr > td {
    vertical-align: middle;
}

.table td a {
    color: #333;
}

.avatar {
    width:40px; 
    height: 40px;
    border-radius: 20px;
    border: 1px solid #ddd;
    margin: 4px 2px;
}

.fa.fa-2 {
    font-size: 1.5em;
}

.spm {
    width: 32px;
    height: 32px;
    border: 1px solid #ddd;
    border-radius: 20px;
    background: #fff;
    text-align: center;
    padding: 5px 0;
    color: #333;
}

.sm .sidebar .nav-second-level li a {
    padding: 10px 15px;
    background: #fbfbfb;
}

.sm .sidebar .nav-second-level li a:hover,
.sm .sidebar .nav-second-level li a:active,
.sm .sidebar .nav-second-level li a.active {
    background: #f5f5f5;
}

.side-toggle {
    position: fixed;
    bottom: 0;
    width: 200px;
    border-top: 1px solid #e7e7e7;
    border-right: 1px solid #e7e7e7;
}

.nav.side-toggle > li > a {
    background-color: #f8f8f8;
}

.navbar-default {
    background: #fff;
}

.navbar-default .nav > li > a {
    color: #555;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus {
    background-color: #fbfbfb;
}

.btn-default:hover,
.btn-default:active,
.btn-default.active {
    background-color: #fbfbfb;
}

.nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    background-color: #fbfbfb;
    border-color: #e7e7e7;
}

.container {
    width: 100%;
    padding: 0 20px;
}

.nav-menu-bar {
    position: absolute;
    left: 200px;
    top: 9px;
    right: 0;
}

.form-control {
    background-color: #fbfbfb;
    box-shadow: none;
}

.form-control:focus {
    background-color: #fff;
    border-color: #66AFE9;
    outline: 0px none;
    box-shadow: none;
}

.nav li a i:first-child {
    width: 16px;
    margin-right: 4px;
    display: inline-block;
}

@media (max-width: 768px) {
    .side-toggle {
        display: none;
    }
    .navbar-collapse.in {
        max-height: none;
    }
    .nav-menu-bar {
        position: static;
    }
    .navbar-nav {
        margin: 0 -15px;
    }
    .nav-menu-bar .container {
        padding: 0;
    }
    .nav-menu-bar li[role=presentation] {
        display: block;
        float: none;
        clear: both;
        text-align: center;
        padding-top: 5px;
    }

    .nav-menu-bar li[role=presentation] > div > * {
        display: block;
        margin: 5px 0;
    }

    .navbar-fixed-top {
        position: static;
    }
    .model-list {
        position: relative;
        margin-top: 20px;
        margin-bottom: 21px;
        z-index: 999;
    }
}

@media (min-width: 768px) {

    .sidebar {
        position: fixed;
        width: 200px;
        overflow-y: scroll;
        top: 0;
        bottom: 41px;
        border-right: 1px solid #e7e7e7;
    }

    .sm .sidebar,
    .sm .side-toggle { 
        width: 120px;
    }

    #page-wrapper {
        position: absolute;
        padding-top: 20px;
        top: 51px;
        left: 200px;
        bottom: 0;
        right: 0;
        overflow-y: scroll;
    }

    div.container > .admin-form {
        margin-top: 0;
    }

    .admin-form hr {
        display: none;
    }

    .pagination, hr + .form-group {
        position: fixed;
        background: #fff;
        left: 200px;
        bottom: 0;
        right: 0;
        margin: 0;
        padding: 15px 20px;
        z-index: 1000;
        border-top: 1px solid #e7e7e7;
        border-radius: 0px;
    }

    .sm .nav-menu-bar,
    .sm #page-wrapper, 
    .sm .pagination, 
    .sm hr + .form-group {
        left: 120px;
    }
}