{% extends "base.html" %}

{% block title %}404{% endblock %}

{% block body %}
<div class="weui_msg">
    <div class="weui_icon_area"><i class="weui_icon_warn weui_icon_msg"></i></div>
    <div class="weui_text_area">
        <h2 class="weui_msg_title">404</h2>
        <p class="weui_msg_desc">该网页不存在</p>
    </div>
    <div class="weui_opr_area">
        <p class="weui_btn_area">
            <a href="{{ (url or '/') | safe }}" class="weui_btn weui_btn_primary">确定</a>
        </p>
    </div>
</div>
{% endblock %}