<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta http-equiv="Cache-Control" content="no-transform">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta name="keywords" content="{% block keywords %}{% endblock %}">
	<meta name="description" content="{% block description %}{% endblock %}">
	<title>
		{%- block title -%}
			{% block subtitle %}首页{% endblock %} - Chiki
		{%- endblock -%}
	</title>
	<link rel="shortcut icon" href="{{ static_url('img/favicon.ico') }}">
	{% block static_header %}{{ static_header() }}{% endblock %}
	{% block static_ie8 %}{{ static_ie8() }}{% endblock %}
	{% block header_script %}{% endblock %}
</head>
<body class="{% block body_class %}{% endblock %}">
{% block body %}{% endblock %}
{% block footer_script %}{% endblock %}
{% block baidu_tongji %}{% endblock %}
</body>
</html>
