{% extends 'admin/base.html' %}

{% block head_css %}
    {{ super() }}
    <link href="/static/css/metisMenu.min.css" rel="stylesheet">
    <link href="/static/css/sb-admin-2.css" rel="stylesheet">
    <link href="/static/css/article.css" rel="stylesheet">
    <link href="/static/css/admin.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/wangEditor/css/wangEditor-1.3.12.css">
    <script type="text/javascript" src="/static/js/area.js"></script>
    <script src="/admin/static/vendor/jquery.min.js?v=2.1.4" type="text/javascript"></script>
{% endblock %}

{% block tail %}
    {{ super() }}
    <script type="text/javascript" src="/static/js/jquery.tmpl.js"></script>
    <script type="text/javascript" src="/static/js/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="/static/js/metisMenu.min.js"></script>
    <script type="text/javascript" src="/static/js/sb-admin-2.js"></script>
    <script type="text/javascript" src='/static/wangEditor/js/wangEditor-1.3.12.js'></script>
{% endblock %}
