{% extends "users/base.html" %}
{% block title %}完成注册{% endblock %}

{% block main %}
<div class="register-email-access">
	<div class="message">{{ form | alert }}</div>
	<form class="auth-form register-email-access-form" method="post" data-complete="#password,#repassword" data-next="{{ next or '/'}}">
		{{ form.authcode | kfield_inline }}
		<div class="weui_cells weui_cells_form">
	        <div class="weui_cell email-box">
	            <div class="weui_cell_bd weui_cell_primary">
					{{ form.email(class='weui_input', readonly='readonly') }}
	            </div>
	        </div>
	        <div class="weui_cell password-box">
	            <div class="weui_cell_bd weui_cell_primary">
					{{ form.password(
						class='weui_input',
						placeholder='密码',
						data_label='密码',
						data_empty='true',
						data_min=6,
						data_max=18,
						data_strip='false',
						data_regx='^[\w\d\-\[\]{}|\\,.\/<>;:\'"_`~!@#$%^&*()+= ]+$',
					) }}
	            </div>
	        </div>
	        <div class="weui_cell repassword-box">
	            <div class="weui_cell_bd weui_cell_primary">
					{{ form.repassword(
						class='weui_input',
						placeholder='确认密码',
						data_label='确认密码',
						data_strip='false',
						data_empty='true',
						data_equal='#password',
						data_equal_message='两次密码不一致',
					) }}
	            </div>
	        </div>
	    </div>
	    <div class="weui_btn_area">
	    	<button type="submit" class="weui_btn weui_btn_primary">完成注册</button>
	    </div>
	</form>
</div>
{% endblock %}

{% block footer %}
<div class="text-center links">
	<a href="{{ url_for('users.login') }}">用户登录</a> | 
	<a href="/">首页</a> | 
	<a href="{{ url_for('users.register') }}">注册账号</a>
</div>
{% endblock %}