{% extends "users/base.html" %}
{% block title %}找回密码{% endblock %}

{% macro reset_password_phone(phone_form) %}
	<div class="message">{{ phone_form | alert }}</div>
	<form class="auth-form register-phone-form" method="post" data-send=".phone-box,.verify-code-box" data-access=".phone-box,.authcode-box" data-complete=".phone-box,.password-box" data-next="{{ next }}">
		{{ phone_form.csrf_token | kfield_inline }}
		<div class="weui_cells weui_cells_form">
	        <div class="weui_cell phone-box">
	            <div class="weui_cell_bd weui_cell_primary">
					{{ phone_form.phone(
						class_="weui_input",
						data_label=phone_form.phone.label.text,
						placeholder=phone_form.phone.label.text,
						data_empty='true',
						data_regx='^1\d{10}$',
					) }}
	            </div>
	        </div>
	        <div class="weui_cell verify-code-box weui_vcode">
		        <div class="weui_cell_bd weui_cell_primary">
		            <input id="verify_code" maxlength="4" name="verify_code" class="weui_input" placeholder="验证码" type="text">
		        </div>
		        <div class="weui_cell_ft">
		            <img data-src="/verify_code?key=users_reset_password_phone" id="verify_code_img" onclick="$(this).attr('src', '/verify_code?key=users_reset_password_phone&amp;t=' + Math.random());" src="/verify_code?key=users_reset_password_phone" style="cursor:pointer">
		        </div>
	        </div>
	        <div class="weui_cell authcode-box" style="display:none">
	            <div class="weui_cell_bd weui_cell_primary">
					{{ phone_form.authcode(
						class_="weui_input",
						data_label=phone_form.authcode.label.text,
						placeholder=phone_form.authcode.label.text,
						data_empty='true',
					) }}
	            </div>
	            <div class="weui_cell_fd">
					<a class="resend disabled" href="javascript:;" style="display:none">重新发送</a>
				</div>
	        </div>
	        <div class="weui_cell password-box" style="display:none">
	            <div class="weui_cell_bd weui_cell_primary">
					{{ phone_form.password(
						class_="weui_input",
						placeholder='设置密码',
						data_empty='true',
						data_label='密码',
						data_min=6,
						data_max=18,
						data_strip='false',
						data_regx='^[\w\d\-\[\]{}|\\,.\/<>;:\'"_`~!@#$%^&*()+= ]+$',
					) }}
	            </div>
	        </div>
	    </div>
	    <div class="weui_btn_area">
	    	<button type="submit" class="weui_btn weui_btn_primary">发送验证码</button>
	    </div>
	</form>
{% endmacro %}

{% macro reset_password_email(form) %}
	<div class="message">{{ form | alert }}</div>
	<form class="auth-form reset-password-email-form" method="post" data-send="#email" data-next="{{ next }}">
		{{ form.csrf_token | kfield_inline }}
		<div class="weui_cells weui_cells_form">
	        <div class="weui_cell">
	            <div class="weui_cell_bd weui_cell_primary">
					{{ form.email(
						class_="weui_input",
						data_label=form.email.label.text,
						placeholder=form.email.label.text,
						data_empty='true',
						data_regx='^[\w\d]+[\d\w_.]+@([\d\w]+)\.([\d\w]+)(?:\.[\d\w]+)?$',
					) }}
	            </div>
	        </div>
	    </div>
	    <div class="weui_btn_area">
	    	<button type="submit" class="weui_btn weui_btn_primary">找回密码</button>
	    </div>
	</form>
	<div class="access"></div>
{% endmacro %}

{% block main %}
{% if um.allow_email and um.allow_phone %}
<div class="weui_tab">
    <div class="weui_navbar">
        <a class="use-phone weui_navbar_item{% if request.args.get('action') != 'phone' %} weui_bar_item_on{% endif %}" href="#reset-password-phone">
            手机找回密码
        </a>
        <a class="use-email weui_navbar_item{% if request.args.get('action') == 'email' %} weui_bar_item_on{% endif %}" href="#reset-password-email">
            邮箱找回密码
        </a>
    </div>
    <div id="reset-password-phone" class="reset-password-phone weui_tab_bd" style="display:none">{{ reset_password_phone(phone_form) }}</div>
    <div id="reset-password-email" class="reset-password-email weui_tab_bd" style="display:none">{{ reset_password_email(email_form) }}</div>
</div>
{% elif um.allow_phone %}
<div id="reset-password-phone" class="reset-password-phone">{{ reset_password_phone(phone_form) }}</div>
{% elif um.allow_email %}
<div id="reset-password-email" class="reset-password-email">{{ reset_password_email(email_form) }}</div>
{% endif %}

<script type="text/javascript">
$(function () {
	$('.weui_tab_bd').hide()
    $($('.weui_bar_item_on').attr('href')).show()
    $('.weui_navbar_item').click(function () {
        $('.weui_tab_bd').hide()
        $($(this).attr('href')).show()
    })
})
</script>	
{% endblock %}

{% block footer %}
<div class="text-center links">
	<a href="{{ url_for('users.login') }}">用户登录</a> | 
	<a href="/">首页</a> | 
	<a href="{{ url_for('users.register') }}">注册账号</a>
</div>
{% endblock %}